.custom-nav-bg {
  background-color: #5A189A;
}
.bg-nav-text:hover{
  background-color: #3C096C;
}
.bg-nav-text-current{
  background-color: #3C096C;
}
.bg-color-model{
  background-color: #E0AAFF;
}
.bg-footer{
  background-color:#5A189A;
}
.btn-custom-color{
  background-color: #3C096C;
}
.btn-custom-color:hover{
  background-color:  #5A189A;
  
}
.bg-custom-contact{
  background-color: #9D4EDD;
  
}
.addto-cart-color{
  background-color: #6f409e;  
}
.addto-cart-color:hover{
  background-color: #2d0654;  
}
.bg-custom-middle {
  background: linear-gradient(to right, #6f409e, #e0b8fe);
}
.bg-color-login{
  background: linear-gradient(to right, #6f409e, #e0b8fe);
}
.bg-color-login-textarea{
  background-color: #e0b8fe;
}
.profile {
  border: 2.5px solid white;
}
.profile:hover{  
  background-color:  blue;

}

